$base-size: 48rem / 16; // 48px (3rem) based on default font size 16px
$base-padding: $base-size / 3;
$input-margin: $base-size / 4;
$border-thick-w: 5px;

$max-width-phone: 480px;
$max-width-tablet: 1024px;

$max-width-text-block: 36rem;
$max-width-text-block-px: 600px;
$base-padding-px: 16px;

$color-bg: #fff;
$color-bg-semitransparent: transparentize($color-bg, 0.2);
$color-white-semitransparent: transparentize(white, 0.3);

$color-aba-blue: #0000ff;
$color-aba-blue-semi: rgba(0, 68, 255, 0.44);
$color-dimmed: #999999;

$text-color: #373737;

$z-index-header: 40;
$z-high: 500;

$transition-time: 0.2s;

$h1: $base-size;
$h2: $base-size * 0.75;
$h3: $base-size * 0.5;
$font-size-caption: 12px;

$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
