@import "vars";
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: $base-size 0 0;
  font-size: 1.4rem;
  background: $color-bg;
}

.ui-modal__header {
  background: unset !important;
  box-shadow: none !important;
}