@import "vars";
@import "tailwindcss/base";
//noinspection CssInvalidAtRule
html * {
  box-sizing: border-box;
  h1 {
    line-height: 1em;
    @apply text-2xl;
  }
  h2 {
    line-height: 1em;
    @apply text-xl;
  }
}

input, textarea, button, a {
  &:focus {
    outline: none;
  }
}

a {
  &:focus, &:hover {
    color: $color-aba-blue;
  }
  &:focus {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1em;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "autofill";
@import "buttons";
